body{
    background-image: url(./download.jfif);
    background-repeat:repeat-x;
    background-position:top;
    background-attachment:scroll;
}
h1{
    border-width: 10px;
    border-top-style: dashed;
    border-left-style: solid;
    border-bottom-style: double;
    border-right-style: groove;
    border-color: rgb(87, 70, 70);
    border-radius: 20px;
}
h1:hover{
        border-color: rgb(160, 19, 19);
    color:rgb(160, 19, 19) ;
    cursor: pointer;
}